
body {
    font-family: 'Shadows Into Light Two', cursive;
    padding: 20px;
    background-image: url("pebbles.jpg");
    border-width: 50px;
    margin-top: 50px;
   margin-bottom: 100px;
   margin-left: 50px;
   margin-right: 50px;
}

h1{
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
    
}

.inputs{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    color: #D98B84;
}

.btn{
    text-align: center;
}

.textbox {
    height: 100px;
    margin: auto;
}