
body {
    font-family: 'Shadows Into Light Two', cursive;
    border-width: 10px;
    background: darkslategrey;
    
}



h1{
    font-family: 'Vidaloka', serif;
    text-align: center;
    color:rgb(255, 251, 0);
    
}

.inputs{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: white;
    
}

.image{
    background-image: url(bench.png);
    background-size: auto;
    width: auto;
    height: auto;
}

.btn{
    text-align: center;
}

.textbox {
   width: 200px;
}

.page-holder {
    
    background-size: contain;
  }
  
  .bg-cover {
    background-size: cover !important;  size: 100%;
 
  }

.navbar {
    
    color: white; 
    background-color: #6D8C89 ;
    opacity: 0.9;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;
    
}


     
  