
body {
    font-family: 'Shadows Into Light Two', cursive;
    padding: 20px;
    text-align: center;
    border-width: 50px;
   border-color: #D98B84;
}

h1{
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
    margin: 40px;
}

.inputs{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    color: #D98B84;
}

.btn{
    text-align: center;
}