
h1{
    color: rgb(96, 202, 184);
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 4.5em;
    margin-top: 0.51em;
    margin-bottom: 0.8em;
    font-weight: bold;
      
}

.navbar {
    
    color: white; 
    background-color: #6D8C89 ;
    opacity: 0.9;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;
    padding:10px
   }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }