body{
    background-color: rgb(237, 251, 252);  
}

h1{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 4em;
    font-display: bold;
    color: black;
    margin: 0em;
    padding: 0.5em;
   
}

.navbar {
    
    color: white; 
    background-color: #6D8C89 ;
    opacity: 0.9;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;
    
   }