body {
    background-color: rgb(229, 247, 244);
}


h2 {
    font-family: 'Shadows Into Light', cursive;
    color: black; 
    font-size: 2.7rem; 
    padding: 0.3em;
    text-align: center;
}
.post{
    
    padding: 20px; 
    max-width: 700px; 
    width: 80%; 
    margin: 20px auto; 
    
   
}

.navbar {
    color: white; 
    background-color:#6D8C89 ;
    opacity: 0.9;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;
    padding:10px
   }

.navbar-brand{
font-size: 1.2em;
color: black;
font-style: bolder;
   }

